In [2]:
# No warnings
import warnings
warnings.filterwarnings('ignore') # Filter out warnings

# No warnings
import warnings
warnings.filterwarnings('ignore') # Filter out warnings

# data analysis and wrangling
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB # Gaussian Naive Bays
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier

import xgboost as xgb

# Plot styling
sns.set(style='white', context='notebook', palette='deep')
plt.rcParams[ 'figure.figsize' ] = 9 , 5

### Beginning playing around with the D Survey Data

In [3]:
d_cleaned = pd.read_csv("data/cleaned/D_Survey_All.csv").drop("Unnamed: 0", axis=1)

In [4]:
# Categorizing by the different "major activity" with which your work is involved
general_administration = d_cleaned[d_cleaned['D129']==1]
finance = d_cleaned[d_cleaned['D129']==2]
accounting = d_cleaned[d_cleaned['D129']==3]
human_resources = d_cleaned[d_cleaned['D129']==4]
production_manufacturing = d_cleaned[d_cleaned['D129']==5]
purchasing = d_cleaned[d_cleaned['D129']==6]
transporation = d_cleaned[d_cleaned['D129']==7]
inventory_mgmt = d_cleaned[d_cleaned['D129']==8]
engineering = d_cleaned[d_cleaned['D129']==9]
research_dev = d_cleaned[d_cleaned['D129']==10]
staff_support = d_cleaned[d_cleaned['D129']==11]
facilities_mgmt = d_cleaned[d_cleaned['D129']==12]
sales_marketing = d_cleaned[d_cleaned['D129']==13]
it_mgmt = d_cleaned[d_cleaned['D129']==14]
other = d_cleaned[d_cleaned['D129']==15]

# Categorizing by gender
males = d_cleaned[d_cleaned['D131']==1]
females = d_cleaned[d_cleaned['D129']==2]

In [6]:
d_cleaned.groupby('couname').mean()

,PH3COUNTRY,industry,ceocode,D1,D2,D3,D4,D5,D6,D7,...,ZD105,ZD106,ZD107,ZD108,ZD109,ZD110,ZD111,ZD112,ZD113,ZD114
couname,,,,,,,,,,,,,,,,,,,,,
Azerbaijan,31.0,423.560000,1.506667,5.186667,4.226667,5.333333,4.840000,5.733333,5.840000,5.266667,...,-0.580547,0.488642,0.710920,0.685135,0.696252,-2.246824,-2.024929,-2.006483,0.539676,0.965782
Brazil,76.0,409.688889,1.777778,6.066667,2.155556,5.511111,5.555556,6.288889,6.422222,3.822222,...,0.245846,0.633259,0.631468,0.281996,0.737037,-0.276867,-0.321091,-1.978434,0.675359,0.457202
China,156.0,421.655405,1.945946,5.972973,2.567568,5.364865,5.641892,5.939189,5.641892,4.851351,...,-0.265732,-0.039614,0.209884,0.263430,0.412836,-0.497450,-0.544041,-1.390955,0.496266,0.731282
Estonia,233.0,470.180556,1.680556,5.222222,2.236111,5.319444,5.277778,5.180556,5.291667,3.250000,...,-0.081005,0.346799,0.611068,0.405932,0.650063,-0.917394,-0.531891,-1.840576,0.868646,0.598347
Germany,276.0,368.621622,1.594595,5.864865,2.243243,5.486486,5.486486,6.216216,5.864865,1.972973,...,-0.100205,-0.198916,0.863936,0.409192,0.753013,-0.326674,-0.249324,-2.093138,0.786737,0.550199
Greece,300.0,463.685714,1.457143,6.457143,2.028571,4.542857,6.257143,6.485714,6.085714,4.885714,...,0.359228,0.573676,0.646834,0.505238,0.728475,-0.265288,0.111697,-1.809070,0.564476,0.581974
Guatemala,320.0,403.055556,1.555556,5.861111,2.666667,5.916667,5.222222,6.027778,5.833333,3.000000,...,0.037781,0.537142,0.505134,0.325428,0.499164,0.003482,0.067799,-1.787252,0.671044,0.672721
India East,357.0,363.600000,1.800000,6.133333,3.200000,5.600000,6.066667,6.066667,5.800000,2.933333,...,-0.476247,0.131135,0.097211,-0.269757,-0.118629,-1.002761,-1.009653,-1.450752,0.425863,0.211256
India Northeast,356.0,494.880000,1.880000,5.440000,3.040000,5.720000,5.520000,5.640000,5.680000,2.520000,...,0.099120,-0.007166,0.836937,0.669623,1.009741,-0.459922,0.191510,-2.114695,1.146593,1.104548
Mexico,484.0,397.388889,2.000000,6.055556,2.240741,5.962963,6.148148,6.314815,6.333333,2.833333,...,0.161005,0.480201,0.609700,0.301550,0.618055,0.032935,0.100642,-1.951086,0.669760,0.666223
Netherlands,528.0,476.000000,1.677966,5.322034,2.203390,4.288136,4.813559,5.932203,5.542373,4.135593,...,0.213526,0.392254,0.891793,0.770096,0.752886,-0.176004,0.134328,-1.893032,0.901992,0.711307
Nigeria,566.0,530.928571,1.660714,5.857143,2.964286,5.714286,5.410714,6.053571,5.892857,3.625000,...,-0.095615,0.045403,0.457020,0.347317,0.548193,-0.316174,-0.395281,-1.412073,0.561227,0.646663
Peru,604.0,438.026316,1.842105,6.105263,2.473684,5.763158,5.947368,5.973684,6.052632,3.368421,...,0.157538,0.611303,0.622355,0.243177,0.587797,-0.076290,0.034392,-1.789113,0.739642,0.440937
Romania,642.0,331.292683,1.536585,5.536585,2.512195,5.463415,5.804878,5.975610,5.536585,4.926829,...,-0.196217,-0.151354,0.395112,0.230418,0.648781,-0.906621,-0.848014,-1.902631,0.368454,0.515125
Slovenia,705.0,481.804878,1.682927,6.121951,2.902439,4.390244,5.560976,6.073171,5.731707,4.512195,...,0.002573,0.280528,0.681999,0.589976,0.653785,-0.332652,-0.047788,-1.824747,0.881106,0.718964
Spain,724.0,469.872340,1.680851,5.936170,2.595745,5.063830,5.148936,5.957447,5.872340,2.404255,...,0.261569,0.571073,0.530811,0.426030,0.827109,-0.128015,0.118127,-2.089548,0.783860,0.565534
Taiwan,886.0,424.189655,1.448276,5.568966,2.327586,3.258621,5.344828,5.706897,6.086207,3.000000,...,-0.213845,-0.060386,0.650381,0.487739,0.773502,-0.850990,-0.469405,-0.842040,0.709021,0.745985
Turkey,792.0,313.017857,1.625000,5.803571,2.821429,4.928571,6.053571,5.625000,5.089286,5.785714,...,0.310146,0.477709,0.595217,0.204915,0.631524,-0.383648,0.060634,-2.189822,0.716690,0.508482
USA,840.0,476.128571,1.885714,6.028571,2.171429,5.128571,5.542857,6.471429,6.185714,2.557143,...,-0.184131,0.654752,0.677923,0.320766,0.577221,-0.019624,0.035679,-1.922639,0.624809,0.389790

In [19]:
GEI = pd.DataFrame()
countries = ['Azerbaijan', 'Brazil', 'China', 'Estonia', 'Germany', 'Greece', 
           'Guatemala', 'India', 'Mexico', 
           'Netherlands', 'Nigeria', 'Peru', 'Romania', 'Slovenia', 'Spain', 
           'Taiwan', 'Turkey', 'USA']
geis = [30.5, 20.3, 41.1, 54.8, 65.9, 37.1, 18.5, 28.4, 26.4, 68.1, 
       19.7, 28.4, 38.2, 52.8, 45.3, 59.5, 44.5, 83.6]
GEI['countries'] = countries
GEI['gei'] = geis
GEI

      countries   gei
0    Azerbaijan  30.5
1        Brazil  20.3
2         China  41.1
3       Estonia  54.8
4       Germany  65.9
5        Greece  37.1
6     Guatemala  18.5
7         India  28.4
8        Mexico  26.4
9   Netherlands  68.1
10      Nigeria  19.7
11         Peru  28.4
12      Romania  38.2
13     Slovenia  52.8
14        Spain  45.3
15       Taiwan  59.5
16       Turkey  44.5
17          USA  83.6

In [20]:
range_ = 83.6-18.5
range_/3

21.7

In [21]:
GEI['gei_levels'] = [(i - 18.5) // 21.7 + 1 for i in geis]
GEI

      countries   gei  gei_levels
0    Azerbaijan  30.5         1.0
1        Brazil  20.3         1.0
2         China  41.1         2.0
3       Estonia  54.8         2.0
4       Germany  65.9         3.0
5        Greece  37.1         1.0
6     Guatemala  18.5         1.0
7         India  28.4         1.0
8        Mexico  26.4         1.0
9   Netherlands  68.1         3.0
10      Nigeria  19.7         1.0
11         Peru  28.4         1.0
12      Romania  38.2         1.0
13     Slovenia  52.8         2.0
14        Spain  45.3         2.0
15       Taiwan  59.5         2.0
16       Turkey  44.5         2.0
17          USA  83.6         3.0

In [23]:
GEI['gdp'] = []
GEI

      countries   gei  gei_levels    gdp
0    Azerbaijan  30.5         1.0  16433
1        Brazil  20.3         1.0  14858
2         China  41.1         2.0  12559
3       Estonia  54.8         2.0  25977
4       Germany  65.9         3.0  44565
5        Greece  37.1         1.0  24273
6     Guatemala  18.5         1.0   6913
7         India  28.4         1.0   5372
8        Mexico  26.4         1.0  15838
9   Netherlands  68.1         3.0  46241
10      Nigeria  19.7         1.0   5443
11         Peru  28.4         1.0  10942
12      Romania  38.2         1.0  18719
13     Slovenia  52.8         2.0  28110
14        Spain  45.3         2.0  31620
15       Taiwan  59.5         2.0      0
16       Turkey  44.5         2.0  18651
17          USA  83.6         3.0  52676

In [27]:
GEI['gdp_levels'] = [i//(52676/3) + 1 for i in GEI['gdp']]
GEI

      countries   gei  gei_levels    gdp  gdp_levels
0    Azerbaijan  30.5         1.0  16433         1.0
1        Brazil  20.3         1.0  14858         1.0
2         China  41.1         2.0  12559         1.0
3       Estonia  54.8         2.0  25977         2.0
4       Germany  65.9         3.0  44565         3.0
5        Greece  37.1         1.0  24273         2.0
6     Guatemala  18.5         1.0   6913         1.0
7         India  28.4         1.0   5372         1.0
8        Mexico  26.4         1.0  15838         1.0
9   Netherlands  68.1         3.0  46241         3.0
10      Nigeria  19.7         1.0   5443         1.0
11         Peru  28.4         1.0  10942         1.0
12      Romania  38.2         1.0  18719         2.0
13     Slovenia  52.8         2.0  28110         2.0
14        Spain  45.3         2.0  31620         2.0
15       Taiwan  59.5         2.0      0         1.0
16       Turkey  44.5         2.0  18651         2.0
17          USA  83.6         3.0  52676         3.0