In [10]:
# No warnings
import warnings
warnings.filterwarnings('ignore') # Filter out warnings

# No warnings
import warnings
warnings.filterwarnings('ignore') # Filter out warnings

# data analysis and wrangling
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB # Gaussian Naive Bays
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier

import xgboost as xgb

# Plot styling
sns.set(style='white', context='notebook', palette='deep')
plt.rcParams[ 'figure.figsize' ] = 9 , 5

### Beginning playing around with the D Survey Data

In [25]:
d_cleaned = pd.read_csv("data/cleaned/D_Survey_All.csv").drop("Unnamed: 0", axis=1)
d_cleaned.head()

,couname,PH3COUNTRY,industry,ceocode,D1,D2,D3,D4,D5,D6,...,ZD105,ZD106,ZD107,ZD108,ZD109,ZD110,ZD111,ZD112,ZD113,ZD114
0,Azerbaijan,31.0,541.0,1.0,5.0,3.0,5.0,6.0,6.0,7.0,...,-0.641811,0.778897,0.068543,0.778897,0.778897,-2.772873,-2.772873,-2.772873,0.778897,0.068543
1,Azerbaijan,31.0,541.0,2.0,6.0,2.0,5.0,6.0,6.0,6.0,...,-0.433884,0.818338,0.818338,0.192227,0.818338,-2.312217,-2.312217,-2.312217,0.192227,0.192227
2,Azerbaijan,31.0,443.0,1.0,6.0,3.0,5.0,5.0,5.0,5.0,...,-0.316564,0.995737,0.995737,0.339587,0.995737,-2.285016,-2.285016,-2.285016,0.339587,1.651888
3,Azerbaijan,31.0,443.0,2.0,6.0,3.0,5.0,6.0,5.0,6.0,...,-0.372285,0.894595,0.894595,0.261155,0.894595,-2.272604,-2.272604,-2.272604,0.261155,0.894595
4,Azerbaijan,31.0,324.0,1.0,6.0,5.0,5.0,6.0,6.0,7.0,...,0.069553,0.635916,0.635916,0.635916,-2.195898,-2.195898,-2.195898,-2.195898,1.202279,0.635916

In [26]:
# Exploring just by different countries perhaps, seeing if we can find 
# anything from here.
grouped_country = d_cleaned.drop(
    ["PH3COUNTRY", 'industry', 'ceocode'], axis=1).groupby(
    "couname").mean()

In [34]:
grouped_country.describe()

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,...,ZD105,ZD106,ZD107,ZD108,ZD109,ZD110,ZD111,ZD112,ZD113,ZD114
count,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,...,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000
mean,5.817936,2.609332,5.197714,5.560188,5.982219,5.830670,3.665829,5.214890,5.561694,3.561586,...,-0.018169,0.303497,0.590826,0.378853,0.630884,-0.481409,-0.294032,-1.804636,0.691117,0.620122
std,0.347438,0.517922,0.674967,0.412524,0.316670,0.332832,1.102535,0.442437,0.337394,0.620354,...,0.261805,0.291972,0.200292,0.227913,0.223216,0.535587,0.548799,0.325915,0.184752,0.199748
min,5.186667,2.028571,3.258621,4.813559,5.180556,5.089286,1.972973,4.333333,5.152542,2.571429,...,-0.580547,-0.198916,0.097211,-0.269757,-0.118629,-2.246824,-2.024929,-2.189822,0.368454,0.211256
25%,5.552775,2.238426,4.996201,5.311303,5.832768,5.660946,2.883333,4.957627,5.313492,3.171111,...,-0.190174,0.019118,0.517972,0.272713,0.582509,-0.674220,-0.500648,-1.992458,0.562851,0.511804
50%,5.864865,2.512195,5.364865,5.542857,5.975610,5.840000,3.368421,5.270270,5.440000,3.526316,...,0.002573,0.392254,0.622355,0.347317,0.650063,-0.326674,-0.047788,-1.893032,0.675359,0.598347
75%,6.061111,2.861934,5.657143,5.876123,6.144693,6.069173,4.681773,5.483704,5.816725,3.855401,...,0.187266,0.554108,0.679961,0.496488,0.744961,-0.152009,0.084221,-1.788182,0.785299,0.715135
max,6.457143,4.226667,5.962963,6.257143,6.485714,6.422222,5.785714,6.171429,6.200000,4.946667,...,0.359228,0.654752,0.891793,0.770096,1.009741,0.032935,0.191510,-0.842040,1.146593,1.104548